
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font: 15px/1.4 "Poppins", sans-serif;
  background: #7c5e31;
  color: #333;
}






@layer components {
  .btn {
    @apply  w-full bg-primary-color text-text-color border-none rounded-[10px] p-[10px] mx-[5px] hover:bg-secondary-color
  }
  button {
    cursor: pointer;
    font: 15px/1.4 sans-serif;
    transition: all 0.3s linear;
  }
  
  button:focus {
    outline: none;
  }
  
}


